@charset "ISO-8859-1";

h1.head {
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
	padding: 10px;
}

#elateDiv {
	color: #9932CC;
	text-align: center;
}

#gruntDiv {
	color:	#F08080;
	text-align: center;
}

div.card {
	background-color: #F08080;
  	border-radius: 25px;
  	padding: 20px; 
  	width: 200px;
 	height: 150px; 
 	border-style: solid;
 	border-color: #9932CC;
}

img.image {
  	border-radius: 50px;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 20%; 
}

.btn {
	color: #9932CC;
}

.date {
	font-size: 36px;
	text-align: center;
}

p.back {
	font-size: 12px;
	font-color: #000000;
}